
        /* Menggunakan font poppins */
        body {
            font-family: 'poppins', sans-serif;
        }
        /* Efek klik tombol yang lebih baik */
        .btn-calc {
            transition: all 0.1s ease-in-out;
        }
        .btn-calc:active {
            transform: scale(0.95);
            box-shadow: 0 2px 4px rgba(155, 150, 254, 0.2);
        }
